name: Docker Build and Push

on:
  push:
    branches:
      - production

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set timestamp tag
        id: set-timestamp
        run: echo "TIMESTAMP_TAG=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ismailtosun/webpage-spring:latest .
          docker tag ismailtosun/webpage-spring:latest ismailtosun/webpage-spring:${{ env.TIMESTAMP_TAG }}

      - name: Push Docker image to Docker Hub
        run: docker push ismailtosun/webpage-spring:latest && docker push ismailtosun/webpage-spring:${{ env.TIMESTAMP_TAG }}
        
  deploy-aws:
    runs-on: ubuntu-latest
    needs: build-and-push
    
    steps:
      - uses: actions/checkout@v2 
      - name: deploy to AWS
        env:
            PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
            HOSTNAME: ${{secrets.SSH_URL}}

      
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${HOSTNAME} "docker stop webpage-spring || true && docker rm webpage-spring || true && docker rmi ismailtosun/webpage-spring || true && docker run -d -p 4016:80 --name webpage-spring ismailtosun/webpage-spring:latest"
